body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
    padding: 0;
}

h1 {
    color: #333;
}

a {
    text-decoration: none;
    color: blue;
    margin-right: 15px;
}

a:hover {
    text-decoration: underline;
}
